.container{
	
	
}








.title{
	
	 
	
}
body{
	backgroud-repeat: no-repeat;
	background-img: url('img/plant.jpg');
	background-attatchment: fixed; 
	background-position: center;	
	background-size: cover;
}
.plant{
	
}
.plant img{
	
}
.titleone{
	
}

.titleone h1{
	font-family:'Roboto Mono', monospace;
}