body {
	font-family: 'Baskervville', serif;
}
.topOfPage {
	width: 100%;
	height: 450px;
	background-image: url("/img/banner2.jpg");
	background-repeat: no-repeat;
}
.logo {
	width: 15%;
	margin-left: 40%;
	margin-top: 80px;
}
.navbar{
 	display: inline-block;
}
.title {
	font-size: 50px;
	font-weight: bolder;
	margin-top: 100px;
	color: white;
}
.whiteLine {
	width: 100%;
	height: 2px;
	margin-top: 90px;
	background-color: white;
}
.navbar {
	color: white;
	font-family: "Work Sans", sans-serif;
	margin-left: 1%;
}
.movenavbar {
	margin-left: 20%
}
.welcome {
	margin-top: 50px;
	margin-bottom: 10px;
	font-size: 30px;
	font-family: "Work Sans", sans-serif;
}
.contact {
	margin-bottom: 50px;
	font-size: 20px;
	font-family: "Work Sans", sans-serif;
}
.map {
	width: 97%;
	height: 500px;
}
.tableText {
	font-family: "Work Sans", sans-serif;
}
.btn-outline-secondary{
	margin-left: 40%;
}
.messageBox {
	width: 97.5%;
	height: 300px;
	border: 2px solid black;
	border-radius: 3px;
	padding: 15px;
	overflow-y: scroll;
}
.messageCenter {
	font-family: "Work Sans", sans-serif;
	font-size: 30px;
}