body{
	font-family: 'Baskervville', serif;
}
.topOfPage{
	width: 100%;
	height: 450px;
	background-image: url("/img/banner2.jpg");
	background-repeat: no-repeat;
}
.logo{
	width: 15%;
	margin-left: 45%;
	margin-top: 5%;
}
.title{
	font-size: 45px;
	font-weight: bolder;
	margin-top: 8%;
	color: white;
}
.whiteLine{
	width: 100%;
	height: 2px;
	margin-top: 30px;
	background-color: white;
}
.navbar{
	display: inline-block;
	color: white;
	font-family: "Work Sans", sans-serif;
	margin-left: 1%;
}
.movenavbar{
	margin-left: 30%;
}
.welcome {
	margin-top: 1%;
	margin-bottom: 1%;
	font-size: 20px;
	font-family: "Work Sans", sans-serif;
}
.contact {
	margin-bottom: 1%;
	font-size: 17px;
	font-family: "Work Sans", sans-serif;
}
#map {
	height: 500px;
}
.tableText {
	font-family: "Work Sans", sans-serif;
}
.messageBox {
	width: 97.5%;
	height: 50%;
	border: 2px solid black;
	border-radius: 3px;
	padding: 15px;
	overflow-y: scroll;
}
.messageCenter {
	font-family: "Work Sans", sans-serif;
	font-size: 30px;
	color: #5ECC15;
}
.messagesList{
	margin-left: 90px;
}
.messageText{
	color: #5ECC15;
}