body{
	font-family: 'Baskervville', serif;
}
.topOfPage{
	width: 100%;
	height: 450px;
	background-image: url("/img/banner2.jpg");
	background-repeat: no-repeat;
}
.logo{
	width: 15%;
	margin-left: 40%;
	margin-top: 80px;
}
.navbar{
 	display: inline-block;
}
.title{
	font-size: 50px;
	font-weight: bolder;
	margin-top: 80px;
	color: white;
}
.whiteLine{
	width: 100%;
	height: 2px;
	margin-top: 90px;
	background-color: white;
}
.navbar{
	color: white;
	font-family: "Work Sans", sans-serif;
	margin-left: 1%;
}
.movenavbar{
	margin-left: 550px;
}
.question{
	font-size: 30px;
	margin-top: 50px;
	margin-left: 50px;
	font-family: "Work Sans", sans-serif;
}
.paragraph{
	font-size: 25px;
	margin-top: 50px;
	margin-left: 50px;
}
.signup{
	margin-left: 45%;
}
.wishlistItems{
	width: 100%;
	height: 800px;
	background-color: #F2F1F2;
	display: inline-block;
	margin-top: 50px;
	
}
#wishlist{
	width: 90%;
	height: 600px;
	background-color: white;
	display: inline-block;
	margin-top: 10px;
	margin-left: 70px;
}
.wishlistTitle{
	font-size: 30px;
	margin-top: 30px;
	margin-left: 50px;
}
.blackLine{
	width: 200px;
	height: 2px;
	margin-left: 300px;
	margin-bottom: 30px;
	background-color: black;
}
.wishlistBox{
	width: 300px;
	height: 400px;
	margin-left: 180px;
	display: inline-block;
}
.water{
	width: 200;
	height: 200px;
	display: inline-block;
	margin-left: 50px;
	margin-top: 10px;
}
.food{
	width: 200;
	height: 200px;
	margin-left: 50px;
	display: inline-block;
	margin-top: 10px;
}
.kit{
	width: 200;
	height: 200px;
	margin-left: 50px;
	display: inline-block;
	margin-top: 10px;
}
.itemName{
	font-size: 30px;
	margin-left: 100px;
	font-family: "Work Sans", sans-serif;
}
.itemInfo{
	font-size: 15px;
	margin-left: 50px;
}
.waterButton{
	margin-left: 100px;
	color: #5DCC14;
}
.foodButton{
	margin-left: 100px;
	color: #5DCC14;
}
.kitButton{
	margin-left: 140px;
	color: #5DCC14;
}

