body{
	font-family: 'Baskervville', serif;
}
.topOfPage{
	width: 100%;
	height: 450px;
	background-image: url("/img/banner2.jpg");
	background-repeat: no-repeat;
}
.logo{
	width: 15%;
	margin-left: 40%;
	margin-top: 80px;
}
.navbar{
 	display: inline-block;
}
.title{
	font-size: 50px;
	font-weight: bolder;
	margin-top: 80px;
	color: white;
}
.whiteLine{
	width: 100%;
	height: 2px;
	margin-top: 90px;
	background-color: white;
}
.navbar{
	color: white;
	font-family: "Work Sans", sans-serif;
	margin-left: 1%;
}
.movenavbar{
	margin-left: 650px;
}
.learnmore{
	font-size: 30px;
	margin-left: 50px;
	font-family: "Work Sans", sans-serif;
}
.stat{
	width: 1200px;
	font-size: 50px;
	margin-top: 50px;
	margin-bottom: 50px;
	margin-left: 20%;
	color: #5ECC22;
	font-family: "Work Sans", sans-serif;
}
.mission{
	font-size: 25px;
	margin-left: 50px;
	width: 900px;
}
.help{
	font-size: 50px;
	margin-top: 50px;
	margin-bottom: 50px;
	margin-left: 50px;
	color: #5ECC22;
	font-family: "Work Sans", sans-serif;
}
.pics{
	margin-top: 50px;
}
.steps {
	margin-left: 50px;
	font-size: 28px;
}
.need{
	font-size: 40px;
	margin-left: 50px;
	margin-top: 170px;
	margin-bottom: 40px;
	color: #5ECC22;
	font-family: "Work Sans", sans-serif;
}
.water{
	width: 200px;
	height: 200px;
	margin-left: 25px;
	display:inline-block;
	margin-top: -150px;
}
.food{
	width: 200px;
	height: 200px;
	margin-left: 25px;
	display:inline-block;
}
.kit{
	width: 200px;
	height: 200px;
	margin-left: 25px;
	display:inline-block;
}
.itemInfo{
	width: 700px;
	height: 220px;
	display:inline-block;
	font-size: 25px;
	font-family: "Work Sans", sans-serif;
}
.donate{
	width: 500px;
	height: 500px;
	margin-left: 135px;
}