body{
	font-family: 'Baskervville', serif;
}
.topOfPage{
	width: 100%;
	height: 450px;
	background-image: url("/img/banner2.jpg");
	background-repeat: no-repeat;
}
.logo{
	width: 15%;
	margin-left: 40%;
	margin-top: 80px;
}
.navbar{
 	display: inline-block;
}
.title{
	font-size: 50px;
	font-weight: bolder;
	margin-top: 80px;
	color: white;
}
.whiteLine{
	width: 100%;
	height: 2px;
	margin-top: 70px;
	background-color: white;
}
.navbar{
	color: white;
	font-family: "Work Sans", sans-serif;
	margin-left: 1%;
}
.movenavbar{
	margin-left: 275px;
}
.title{
	font-size: 50px;
	font-weight: bolder;
	margin-top: 100px;
	color: white;
}
.login{
	font-size: 30px;
	margin-left: -5%;
	margin-top: 50px;
	font-family: "Work Sans", sans-serif;
}
.loginBox {
	font-family: "Work Sans", sans-serif;
	margin-left: 30%;
	background-color: white;
}
.loginButton{
	margin-left: 20%;
}