body{
	font-family: 'Open Sans Condensed', sans-serif;
	color: #99752E;
}
pre{
	font-family: 'Open Sans Condensed', sans-serif;
}
a{
	color: #99752E;
}
a:hover{
	color: #99752E;;
	text-decoration: none;
}
.line1{
	width: 100%;
	height: 1px;
	background-color: #99752E;
}
.icon1{
	width: 27px;
	height: auto;
}
.banner{
    background-image:url('/images/banner.jpg');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    height: 500px;
}
.username{
	color: #99752E;
}
.icon2, .icon3{
	width: 15px;
	height: 25px;
}
.img-fluid{
	width: 100px;
	height: 100px;
} 